html {
    scroll-behavior: smooth;
}
.navbar{
    background-image: url("./resources/background.png");
}
.scrolling-titles-wrapper{
   height:50px;
   animation: move 10s ease-in-out infinite alternate-reverse;
}
@keyframes move {
    25% {transform: translateY(-50px);}
    50% {transform: translateY(-100px);}
    75% {transform: translateY(-150px);}
    100% {transform: translateY(-200px);}
 
}
.scrolling-titles{
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 113px;
    margin-bottom: 24px;
}
.scrolling-titles-item{
    height: 50px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.55em;
    align-items: center;
    display: flex;
    justify-content: center;
    

}
.header-text-wrapper{
    justify-content: center;
    display: flex;
    margin-top: 24px;
    margin-bottom: 48px;
}
.header-text{

width: 660px;
height: 150px;
font-family: 'Montserrat-Variable';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 147.9%;
text-align: center;
letter-spacing: 0.06em;

color: #000000;
}
.image-with-name{
    display: flex;
    justify-content: center;
    
}
.project-header{
    /* PROJECTS */
width: 127px;
height: 25px;
font-family: 'ClashDisplay-Variable';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
/* identical to box height */
letter-spacing: 0.115em;
text-transform: uppercase;
color: #000000;
margin-top: 272px;

}
.project-title{
    /* PERSONAL */
width: 760px;
height: 84px;
font-family: 'Panchang-Variable';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 84px;
letter-spacing: 0.495em;
color: white;
            font-size: 50px;
            /*-webkit-text-stroke-width: 1px;*/
            -webkit-text-stroke-color: #000000; 
            fill: #FFFFFF;
           text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
           
margin-bottom: 37px;

}
@font-face {
    font-family: 'Panchang-Variable';
    src: url('./fonts/Panchang_Complete/Fonts/Variable/Panchang-Variable.ttf') format('truetype');
         font-weight: 200 800;
}
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('./fonts/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 800;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Variable';
    src: url('./fonts/Montserrat_Complete/Fonts/Variable/Montserrat-Variable.ttf') format('truetype');
         font-weight: 200 800;
         font-display: swap;
         font-style: normal;
}
.project-digital-well-being{
    width: 1227px;
    height: 354px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    
}
.project-let-it-wag-app{
    margin-top: 40px;
    margin-right:40px;
    display: flex;
    justify-content: center;
}
.project-finance-app{
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.project-personal-blank-1{
    margin-top: 40px;
    margin-right:40px;
    display: flex;
    justify-content: center;
}
.project-personal-blank-2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.project-academic-blank-3{
    margin-top: 40px;
    
    display: flex;
    justify-content: center;
}
.project-academic-blank-4{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}
.project-professional-blank-2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.project-professional-blank-3{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}
.project-tile-2{
    width: 1227px;
    height: 372px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.project-tile-3{
    width: 1227px;
    height: 372px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.nav-link {
    font-family: 'Montserrat-Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-left: 81px;
    color: #000000;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
.nav-link:hover {
    opacity: 1;
}
.nav-link::before {
    transition: 0.20s;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #000000;
}
.nav-link-ltr::before {
    width: 0%;
    bottom: 12px;
}
.nav-link-ltr:hover::before {
    width: 100%;
}
.list-group li {
    margin-left: 47px;
    margin-top: 48px;
    width: fit-content;
 
}
.list-group ul{
    display: flex;
    justify-content: left;
}
.list-group{
display: flex;
position: fixed;
justify-content: left;
list-style: none;
font-family: 'ClashDisplay-Variable';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.115em;
text-transform: uppercase;

margin-top: 100%;

}
.wrapper{
    position: fixed;
 
    
}
.wrapper .list-group{
    position:relative;
    margin-bottom: 48px;
    width: 300px;
}
.active{
color: #000000;
font-family: 'ClashDisplay-Variable';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 20px;
letter-spacing: 0.115em;
text-transform: uppercase;
}
.zoom {

    transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 2px #bfbfbf, 0 0 25px #bfbfbf, 0 0 5px #bfbfbf;
}

.list-group-item-action::before {
    width: 0%;
    bottom: 12px;
}
.list-group-item-action:hover::before {
    width: 100%;
}

.side-nav{
    position: fixed;
}